.student-content {
    display       : flex;
    flex-direction: column;
    position      : absolute;
    top           : 50%;
    left          : 50%;
    transform     : translate(-50%, -50%);
    box-shadow    : rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius : 10px;

    .student-list {
        width         : 860px;
        height        : 640px;
        overflow-y    : auto;
        display       : flex;
        flex-direction: column;

        * {
            font-family: 'Raleway';
        }

        .student {
            position     : relative;
            display      : flex;
            padding      : 15px 0 15px 25px;
            border-bottom: 1px solid #f3f3f3;

            .avatar {
                width        : 125px;
                height       : 125px;
                border-radius: 50%;
                border       : 1px solid #e7e4e5;
            }

            .content {
                flex          : 1;
                display       : flex;
                flex-direction: column;
                margin-left   : 35px;

                .name {
                    font-size    : 30px;
                    font-weight  : bolder;
                    margin-bottom: 10px;
                }

                .email,
                .company,
                .skill,
                .average,
                .test {
                    font-size   : 14px;
                    padding-left: 20px;
                    line-height : 1.5;
                }

                .test {
                    line-height: 1.2;
                }

                .space {
                    height: 15px;
                }
            }

            .btn-collapse {
                position        : absolute;
                top             : 10px;
                right           : 20px;
                font-size       : 30px;
                font-weight     : bolder;
                color           : #a1a1a1;
                padding         : 0;
                border          : none;
                background-color: transparent;

                &:hover {
                    color : black;
                    cursor: pointer;
                }
            }
        }
    }

    .search-input-content {
        display: flex;
        padding: 10px;

        input {
            font-size    : 18px;
            outline      : none;
            border-bottom: 2px solid #e3e2e2;
            border-top   : 0;
            border-left  : 0;
            border-right : 0;
            flex         : 1;
            padding      : 10px 0;

            &:focus {
                border-color: #6a6a6a;
            }
        }
    }
}